.contenedor {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
 


}

.accion {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

h2 {
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input,
select,
textarea {
  margin-bottom: 16px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.estilo_boton {
  background-color: #067e28;
  color: #fff;
  padding: 8px 20px; /* Modificado para un aspecto más adecuado */
  border: none;
  border-radius: 20px; /* Redondear los bordes */
  cursor: pointer;
  font-size: 16px;
}

.contenedorMensaje {
  margin-top: 20px;
  text-align: center;
}

#mensaje {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}


#tablaProductos {
  
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

#tablaProductos th,
#tablaProductos td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tablaProductos th {
   background-color: #f2f2f2;
   
    
}

#tablaProductos tbody tr:nth-child(even) {
    background-color: #f2f2f2;
 
}

#tablaProductos tbody tr:hover {
   background-color: #f3eeff;
  
}

#tablaProductos img {
    max-width: 100px;
    height: auto;
}
