
/* Estilo general para la barra de navegación Vista ADMINISTRADOR */
.navbar {
    background-color: #eae7f1 !important; /* Color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior */
    padding: 10px 0; /* Espaciado interno */
    height: 60px;
    

  }
  
  /* Estilo para el logo */
  .navbar-brand {
    font-size: 20px; /* Tamaño del texto */
    height: 60px;
  }
  
  /* Estilo para los enlaces del menú */
  .navbar-nav .nav-link {
    font-size: 16px; /* Tamaño del texto */
   /* margin: 0 10px; /* Margen entre enlaces */

  }
  .nav-link {
    font-size: 16px; /* Tamaño del texto */
    display: inline-block;
   /* margin: 0 10px; /* Margen entre enlaces */

   
   
  }
  
  

  /* Estilo para el botón de menú desplegable */
  .navbar-toggler {
    border: none; /* Sin borde */
  }
  
  

  /* ESTILO DE INGRESAR Y REGISTRAR USUARIO EN NAVBAR*/

.dropdown-content {
  display: none; /* Ocultar por defecto */
  position: absolute; /* Posición absoluta */
  background-color: #eae7f1; /* Color de fondo */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Ajuste la posición vertical */
  left: 0; /* Ajuste la posición horizontal */
  overflow-y: auto; /*Habilitar el desplazamiento vertical si el contenido es demasiado largo */
  max-height: 200px; /* Altura máxima del dropdown */
}
.dropdown-content p, .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: inline-block;
}
.dropdown-content p:hover, .dropdown-content a:hover {
  background-color: #eae7f1; /* Color de fondo al hacer hover*/
  text-decoration:underline; /*Subraya la opcion elegida por el usuario*/
}
.dropdown:hover .dropdown-content {
  display: block;
  /*Ajuste la posición horizontal si el dropdown está cerca del borde derecho de la pantalla */
  right: 0;
  left: auto;
}
#userText {
  cursor: pointer;
}


