
table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
        }

    /* Estilo adicional para las tablas internas */
    table table {
        border: none; /* Elimina los bordes de la tabla interna */
        width: 100%;
        margin: 0; /* Elimina los márgenes internos de la tabla interna */
        }
body{
            background-color: #f6f4fb;
        }
        