body{
  background-color: #f7f6fa;
}


.container {
  display: flex;
  justify-content: space-around;
  
}


.eliminar,
.Editar {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(230, 228, 240);

}

.eliminar h2,
.Editar h2 {
  margin-top: 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;

}

input{
   width: 100%; 
   padding: 6px; 
   margin-bottom: 16px; 
   border: 1px solid #ccc; 
   border-radius: 15px;
  
}
.estilo_boton {
  color: #fff;
  border: 0;
  border-radius: 28px;
  background-color: #067e28;
 
}


