/* ----- ESTILO PAGINAS DE PRODUCTOS--*/


h1 {
    text-align: center;
    margin: 30px 0px; 
}

img {
    width: 245px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
   
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    justify-content: center;
    /*background-color: #f7f6fa; CONSULTAR CON NICO*/

}

.contenedor>div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #fafcff;
    border-radius: 20px;
}

.contenedor>div:hover {
  
    background: #e4e4e4ec;
}

.informacion {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}

.informacion .estilo_titulo {
    font-size: 20px;
    font-weight: 300;
}

.informacion button {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    white-space: normal;
    border: 2px solid #038027;;

    background-color: #067e28;
    color: #fff; /* Color del texto */
    
    font-size: 16px;
    border-radius: 10px; /* Estilo de bordes redondeados*/
 

}


.informacion button:focus {
    outline: none; /* Quitar el contorno al hacer foco */
}


.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 300;
}


  

    
   