<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Importar Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/Ingresar.css">
    <link rel="stylesheet" href="../css/CambiarClave.css">
   <!-- Redirecciones al detalle de  Productos--> 
   <script src="../js/redirecciones.js"></script>
   <!-- Redirecciones al detalle de  Productos--> 
   <script src="../js/validarContrasena.js"></script>
  </head>
<body>
  <%- include('parcial/navbarpage'); -%>
  
  <div class="container">
    <form action="" method="post">
      <h2 class="estilo_inicio">Cambiar Contrase単a</h2>
      <table>
        <tr>
          <td><label for="password">Contrase単a Actual</label></td>
          <td><input type="password" id="txtPasswordactual" name="password"></td>
        </tr>
        <tr>
            <td><label for="password">Contrase単a Nueva</label></td>
            <td><input type="password" id="txtPassword" name="password"></td>
          </tr>
          <tr>
            <td><label for="password">Confirmar Contrase単a</label></td>
            <td><input type="password" id="txtPassword2" name="password2"></td>
          </tr>
      </table>
      <div class="estilo_boton">
        <button type="submit" class="estilo_boton" onclick="return validarContrasena()">Guardar</button> </br>
      </div> <br>
    
    </form>

</body>
</html>
