<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Js Script base de datos-
    <script src="../js/Crud.js"></script>
    <script src="../js/carrito.js"></script>
    <script src="../js/carritocantidad.js"></script>-->
    
    
    <title>productos </title> 
 

  <!-- Estilo CSS-->
    <link rel="stylesheet" href="../css/estiloeditarproductos.css">
  <!--Importar Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- JS  Editar Contacto--> 
   <script src="../js/EditarContacto.js"></script>
  </head>
<body>
  <%- include('parcial/navbaradmin'); -%>

<main>
    <div class="contenedor">
         <!-- Datos Actuales Pagina Contacto -->
         <div class="eliminar">
            <h2>Datos Actuales</h2>

             <!--<form action="/DatosActulesContacto" method="post">-->
                <label>Telefono</label>
                <p>11-6525-9472</p>
                
                <label>Email</label>
                <p>practica3@protonmail.com</p>
                
                <label>Ubicacion</label>
                <p>Buenos Aires</p>
            <!--</form>-->
        </div>
        
        <!-- Editar Datos Contacto -->
        <div class="Editar">
            <h2>Editar</h2>
            <form action="/editarcontacto" method="post" enctype="multipart/form-data">
             
                <label>Telefono</label>
                <input id="telefonoeditar"name="telefono"></input>
                
                <label>Email</label>
                <input id="editarEmail"name="email"></input>
                
                <label>Ubicacion</label>
                <input id="ubicacioneditar"name="Ubicacion"></input><br>
             
                <button type="submit" class="estilo_boton" onclick="return validacionEditarContacto()">Editar</button>
            </form>
        </div>

    </div>
</main>
</body>
</html>