<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Factura B</title>
  <!--Importar Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="../css/facturab.css">

 <!-- Redirecciones al detalle de  Productos--> 
 <script src="../js/redirecciones.js"></script>
 <script src="../js/facturab.js"></script>

</head>
<body>
  <%- include('parcial/navbaradmin'); -%>
   

 <br> <div class="container">
    <header>
      <div id="nombre-empresa">Hygge</div>
    </header>

    <div id="datos-factura">
      
    </div>

    <div class="flex-container">
      <div id="datos-empresa" class="datos-box">
        <strong>Datos de la Empresa:</strong>
        <p>Dirección de la Empresa: Mansilla 3643</p>
        <p>Teléfono: 1516874935 </p>
        <p>Cuit: ABC123456DEF</p>
      </div>

      <div id="datos-cliente" class="datos-box">
        
      </div>
    </div>

    <div id="productos">
      
    </div>

  
    <div id="firma-empresa">
      <div class="firma-box">
        <p>Firma de la Empresa:</p>
        <!-- Espacio para la firma de la empresa -->
      </div>
      <div class="firma-box">
        <p>Firma del Cliente:</p>
        <!-- Espacio para la firma del cliente -->
      </div>
    </div>
  </div>

  <div class="button-container">
    <button onclick="volver()">Volver</button>
    <button onclick="imprimirFactura()">Imprimir Factura</button>
    
  </div>

</body>
</html>




